Repository DeFiCh/salmon, pull requests merged in 2021-08, with the labels that each got.

#114 Add CoinMarketCap provider
  packages/salmon-provider-coinmarketcap/README.md
  packages/salmon-provider-coinmarketcap/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-coinmarketcap/package.json
  packages/salmon-provider-coinmarketcap/src/index.ts
  packages/salmon-provider-coinmarketcap/tsconfig.build.json
  packages/salmon-provider-coinmarketcap/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Labels: kind/feature

#110 Add coingecko provider
  packages/salmon-lambda-functions/src/cmc.ts
  packages/salmon-lambda-functions/src/coingecko.ts
  packages/salmon-lambda-functions/src/dex.ts
  packages/salmon-lambda-functions/src/index.ts
  packages/salmon-provider-coingecko/README.md
  packages/salmon-provider-coingecko/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-coingecko/package.json
  packages/salmon-provider-coingecko/src/index.ts
  packages/salmon-provider-coingecko/src/mapping.ts
  packages/salmon-provider-coingecko/tsconfig.build.json
  packages/salmon-provider-coingecko/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Labels: area/salmon-lambda-functions, kind/feature

#115 Bump `ain:1.8.0` `whale:latest` `playground:latest`
  .github/workflows/ci.yml
  .github/workflows/e2e/docker-compose.yml
  .github/workflows/e2e/setup.js
  package-lock.json
  package.json
  packages/salmon-lambda-functions/package.json
  packages/salmon-oracles-functions/package.json
  packages/salmon-price-functions/package.json
  packages/salmon-provider-dex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-dex/package.json
  packages/salmon-provider-dex/src/index.ts
Labels: area/salmon-lambda-functions, area/salmon-oracles-functions, area/salmon-price-functions, area/workflow, kind/chore

#119 `defichain-dependencies.yml` to bump jellyfish/whale/playground individually
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#130 Added `salmon-provider-nasdaq`
  packages/salmon-provider-nasdaq/README.md
  packages/salmon-provider-nasdaq/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-nasdaq/package.json
  packages/salmon-provider-nasdaq/src/index.ts
  packages/salmon-provider-nasdaq/tsconfig.build.json
  packages/salmon-provider-nasdaq/tsconfig.json
Labels: kind/feature

#125 Bump docker-compose.yml
  .github/workflows/e2e/docker-compose.yml
  package-lock.json
  packages/salmon-lambda-functions/src/index.ts
  packages/salmon-lambda-functions/src/nasdaq.ts
  packages/salmon-oracles-functions/src/oraclesManager.ts
  tsconfig.build.json
  tsconfig.json
Labels: area/workflow, kind/dependencies, area/salmon-oracles-functions, area/salmon-lambda-functions

#137 Remove daylight savings from Nasdaq Provider
  packages/salmon-provider-nasdaq/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-nasdaq/src/index.ts
Labels: kind/fix

#139 Check price before publishing and extend max price age
  .github/workflows/ci.yml
  .github/workflows/e2e/mocks_finnhubb.js
  .github/workflows/e2e/test.single.finnhubb.test.js
  .github/workflows/e2e/test.single.iexcloud.test.js
  .github/workflows/e2e/test.single.price_check.test.js
  .github/workflows/e2e/test.single.tiingo.test.js
  package.json
  packages/salmon-lambda-functions/src/generic/index.ts
  packages/salmon-lambda-functions/src/generic/slack.ts
  packages/salmon-lambda-functions/src/index.ts
  packages/salmon-oracles-functions/__tests__/whale_client.test.ts
  packages/salmon-oracles-functions/src/index.ts
  packages/salmon-oracles-functions/src/oraclesManager.ts
  packages/salmon-oracles-functions/src/whaleOraclesManager.ts
  packages/salmon-price-functions/src/price_manager.ts
  packages/salmon-provider-coingecko/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-dex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-finnhubb/__test__/timestamps.test.ts
  packages/salmon-provider-iexcloud/__test__/timestamps.test.ts
  packages/salmon-provider-tiingo/__test__/timestamps.test.ts
Labels: area/workflow, kind/refactor, area/salmon-price-functions, area/salmon-provider-iexcloud, area/salmon-oracles-functions, area/salmon-provider-finnhubb, area/salmon-lambda-functions, area/salmon-provider-tiingo
