Repository DeFiCh/salmon, pull requests merged in 2021-07, with the labels that each got.

#71 Add package release
  .github/workflows/release-publish.yml
Labels: area/workflow, kind/chore

#73 Prevent noop price send
  packages/salmon-lambda-functions/src/generic/index.ts
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
  packages/salmon-oracles-functions/src/oraclesManager.ts
Labels: kind/fix

#78 Bump defichain dependencies to v0.22.0
  package-lock.json
  packages/salmon-lambda-functions/package.json
  packages/salmon-oracles-functions/package.json
  packages/salmon-oracles-functions/src/oraclesManager.ts
  packages/salmon-price-functions/package.json
  tsconfig.base.json
Labels: kind/dependencies

#84 Fix package lock and bump dependencies
  package-lock.json
  packages/salmon-lambda-functions/package.json
  packages/salmon-oracles-functions/package.json
  packages/salmon-price-functions/package.json
Labels: kind/chore

#81 Refactor whale provider
  package-lock.json
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
  packages/salmon-oracles-functions/__tests__/provider.mock.ts
  packages/salmon-oracles-functions/__tests__/whale_client.test.ts
  packages/salmon-oracles-functions/package.json
  packages/salmon-oracles-functions/src/index.ts
  packages/salmon-oracles-functions/src/oraclesManager.ts
  packages/salmon-oracles-functions/src/salmonWalletHDNode.ts
Labels: kind/chore

#86 update workflows
  .github/dependabot.yml
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/sync-labels.yml
  .husky/.gitignore
Labels: area/workflow, kind/chore

#88 Finnhubb forex provider
  packages/salmon-provider-finnhubb-forex/README.md
  packages/salmon-provider-finnhubb-forex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-finnhubb-forex/package.json
  packages/salmon-provider-finnhubb-forex/src/index.ts
  packages/salmon-provider-finnhubb-forex/src/mapping.ts
  packages/salmon-provider-finnhubb-forex/tsconfig.build.json
  packages/salmon-provider-finnhubb-forex/tsconfig.json
  packages/salmon-provider-finnhubb/src/index.ts
  tsconfig.build.json
  tsconfig.json
Labels: area/salmon-provider-finnhubb, kind/feature

#91 Added tiingo forex price provider
  packages/salmon-provider-finnhubb-forex/src/index.ts
  packages/salmon-provider-finnhubb-forex/src/mapping.ts
  packages/salmon-provider-tiingo-forex/README.md
  packages/salmon-provider-tiingo-forex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-tiingo-forex/package.json
  packages/salmon-provider-tiingo-forex/src/index.ts
  packages/salmon-provider-tiingo-forex/src/mapping.ts
  packages/salmon-provider-tiingo-forex/tsconfig.build.json
  packages/salmon-provider-tiingo-forex/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Labels: kind/feature

#92 Added IEX Cloud forex provider
  packages/salmon-provider-iexcloud-forex/README.md
  packages/salmon-provider-iexcloud-forex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-iexcloud-forex/package.json
  packages/salmon-provider-iexcloud-forex/src/index.ts
  packages/salmon-provider-iexcloud-forex/src/mapping.ts
  packages/salmon-provider-iexcloud-forex/tsconfig.build.json
  packages/salmon-provider-iexcloud-forex/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Labels: kind/feature

#93 Added Lambda functions for forex deployment
  packages/salmon-lambda-functions/src/finnhubb_forex.ts
  packages/salmon-lambda-functions/src/iexcloud_forex.ts
  packages/salmon-lambda-functions/src/tiingo_forex.ts
Labels: area/salmon-lambda-functions, kind/chore

#94 Added slack notification
  packages/salmon-lambda-functions/src/generic/environment.ts
  packages/salmon-lambda-functions/src/generic/index.ts
  packages/salmon-lambda-functions/src/generic/slack.ts
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
  packages/salmon-oracles-functions/src/oraclesManager.ts
Labels: area/salmon-lambda-functions, area/salmon-oracles-functions, kind/feature

#95 Updated price mappings
  packages/salmon-provider-finnhubb-forex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-finnhubb-forex/src/mapping.ts
  packages/salmon-provider-tiingo-forex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-tiingo-forex/src/mapping.ts
Labels: kind/chore

#96 Remove s3 push
  .github/workflows/release-publish.yml
Labels: area/workflow, kind/chore

#98 Fix get address
  packages/salmon-lambda-functions/package.json
  packages/salmon-lambda-functions/src/generic/index.ts
  packages/salmon-lambda-functions/src/generic/slack.ts
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
  packages/salmon-oracles-functions/src/oraclesManager.ts
Labels: area/salmon-lambda-functions, area/salmon-oracles-functions, kind/fix

#100 Improve bundle size and refactor
  .github/workflows/e2e/test.finnhubb.test.js
  .github/workflows/e2e/test.iexcloud.test.js
  .github/workflows/e2e/test.tiingo.test.js
  .github/workflows/e2e/test.weighted.test.js
  packages/salmon-lambda-functions/package.json
  packages/salmon-lambda-functions/src/finnhubb.ts
  packages/salmon-lambda-functions/src/finnhubb_forex.ts
  packages/salmon-lambda-functions/src/generic/slack.ts
  packages/salmon-lambda-functions/src/iexcloud.ts
  packages/salmon-lambda-functions/src/iexcloud_forex.ts
  packages/salmon-lambda-functions/src/index.ts
  packages/salmon-lambda-functions/src/tiingo.ts
  packages/salmon-lambda-functions/src/tiingo_forex.ts
Labels: area/salmon-lambda-functions, area/workflow, kind/chore

#105 Better exception handling for low balance
  packages/salmon-lambda-functions/src/generic/index.ts
Labels: area/salmon-lambda-functions, kind/chore

#107 Add dex provider (DFI-BTC)
  packages/salmon-lambda-functions/src/generic/environment.ts
  packages/salmon-provider-dex/README.md
  packages/salmon-provider-dex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-dex/package.json
  packages/salmon-provider-dex/src/index.ts
  packages/salmon-provider-dex/src/mapping.ts
  packages/salmon-provider-dex/tsconfig.build.json
  packages/salmon-provider-dex/tsconfig.json
  packages/salmon-provider-tiingo-forex/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-provider-tiingo-forex/src/index.ts
  tsconfig.build.json
  tsconfig.json
Labels: area/salmon-lambda-functions, kind/feature
